.all-cart-product {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 40px auto;
}

.cart-product {
  width: 300px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 0px 10px black;
  display: flex;
  flex-direction: column;
}

.cart-price {
  display: flex;
}
